.example{
    background: black;
}

a:hover {
  text-decoration: underline;
}
.btn-bk {
    color: #fff;
    /*background: #ff824d;*/
    background:#245433!important;
    border-color: #204d74;
}
form {
    margin-top: 5%!important;
    margin: auto;
   /*border:1px solid rgba(0,0,0,0.2);*/
}
.bg-ucsm {
    background-color: #245433!important;
    color: #ffffff;
}
.bg-sc-ucsm{
    background-color: #f8aa1a;
    color: #fff;
}
.btn-padd
{
    padding-bottom: 21%;
    padding-top: 20%;
    
}
/*
form {
	margin:auto;
	width: 50%;
	max-width: 500px;
	background: #FF6E33;
	padding: 30px;
	border:1px solid rgba(0,0,0,0.2);
}
*/

/* LOGIN AND REGISTER*/

.card-body-custom{
    background: #ffe3d8;
}

.card-header-custom {
    /*text-align: center;*/
    
    background:  #245433!important;
}

/*autocompletar*/

#auto ul {
	font-family: sans-serif;
	list-style: none;
}
#auto li a {
	color:#495057;
	text-decoration: none;
	text-align: center;
}
#auto li {
	list-style:none;
}
#auto li a:hover{background-color: #9e9e9e57;}


/*END LOGIN */

/* NAV */

.custom-nav {
  /*  background: #ff8350!important;*/
  background: #245433!important;
    padding: 3%!important;
    
}

.boldletter{
    font-weight: bold;
}
/* END NAV */
/*HOME */
.containerpp {
    max-width: 830px!important;
   
}

.tmform {
    max-width: fit-content;
    padding-bottom: 15%;
}
.tmbotom{
    width: -webkit-fill-available;
}

/*.mb-2, .my-2 {
    margin-bottom: -0.5rem!important;
}
.pt-1, .py-1 {
    padding-top: 0.25rem!important;
}
.pb-1, .py-1 {
    padding-bottom: 1.25rem!important;
}*/

/* END HOME  */
/* PROYECTO */
.a-ucsm {
    color: #245433;
}

.btn-menu-rsp{
    width: 100%!important;
    height: 79%!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
.h1, h1 {
    padding-top: 21px;
    font-size: 2.5rem;
}
/* END PROYECTO */
/* EDITAR PROYECTO */
table thead{ 
    background-color: #f8aa1a; 
    color: #fff; 
 } 
 .mh-60{
    max-height: 60vh;
    overflow-y: scroll;
 }
 .text-12{
    font-size: 12px;
 }
 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #90caf9;
  }
  .hidden-text-input {
    color: transparent;
  }
 
/* END PROYECTO */
/* SUBIR ARCHIVO */
.invalid-feedback {
    display: block!important;
    width: 100%!important;
    margin-top: 0.25rem!important;
    font-size: 80%!important;
    color: #dc3545!important;
    margin-left: 7px!important;
}
/* END SUBIR ARCHIVO */

.card-footer {
    padding: 0.75rem 0.25rem !important;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.btn-pp
{
    padding: .375rem 5.75rem!important;
       
}
.card-footer2 {
    padding: .75rem 1.25rem!important;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
/*reportesss */
.tables {
    border-collapse: collapse;
  }
.th1,
.td1 {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
  }
  

  /*prueba botones-MENU*/

  .menu.segundo.boton {
    max-width: 160px;
    min-width: 80px;
    margin: 0px 0px;
    float: left;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    height: 100px;
    width: 100%;
}
.menu.segundo.boton.b {
    color: #245333;
    border: 4px solid #245333;
}
.menu.segundo.boton img {
    width: 60px;
    padding: 5px;
    display: flex;
    justify-content: center !important;
    border-radius: 10px;
    margin: 0px auto;
    fill: red;
}

.menu.segundo.boton.b:hover {
    transform: scale(1.1);
    background: #fff;
    box-shadow: none!important;
    z-index: 5!important;
    background: #dee2e6;
    text-decoration: none;
}

.menu.segundo.boton.b:focus {
    outline: -webkit-focus-ring-color auto 1px;
}