{% include "./partials/header.html" %}
{% block body %}

<body>
   <div class="container-fluid ">
      <nav class=" custom-nav navbar navbar-expand-lg navbar-light bg-light bg-ucsm text-center">
         <h3 class="d-block d-md-none display-4 boldletter"> SGRSIA</h1>
            <h3 class="d-md-block d-none display-6 boldletter">  SISTEMA DE GESTIÓN DE AUDITORÍA </h1>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;"><span
                     class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="padding-left: 430px;">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active"><a class="nav-link" style="color: #fff;"
                           href="http://127.0.0.1:5000/home">Página Principal<span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;"
                           href="http://127.0.0.1:5000/logout">Cerrar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/">Iniciar
                           Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;"
                           href="http://127.0.0.1:5000/registro">Registrarse</a></li>
                  </ul>
               </div>
      </nav>
      <div class="container-fluid">
         <div class="container" style="height: 450px!important">
            <form action="/requisito" method="POST" class="h-100 w-100">
               <div class="row h-100">
                  <div class="card" style="WIDTH: 100%;">
                     <h5 class="card-header bg-sc-ucsm">Información del Requisito</h5>
                     <div class="alert alert-info mb-2 py-1" role="alert">
                        <b>MANTENIMIENTO DE REQUISITOS</b>
                        <div class="float-right" value="{{ nombre }}">{{ nombre }}</div>
                     </div>
                     <div class="card-body ">
                        <div class="row h-100">
                           <div class="table-responsive mh-60">
                              <table class="table table-sm table-hover table-bordered text-12 text-center">
                                 <thead class="bg-ucsm">
                                    <tr>
                                       <th scope="col">#</th>
                                       <th scope="col">Requisito</th>
                                       <th scope="col">Descripcion</th>
                                       <th scope="col">Tipo</th>
                                       <th scope="col">Estado</th>
                                       <!--th scope="col">Usuario</!--th>-->
                                       <th scope="col"><img src="img/edit-blue.svg"></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for data in paDatos %}
                                    <tr>
                                       <th scope="row">{{ loop.index }}</th>
                                       <th scope="row">{{ data[0] }}</th>
                                       <td class="text-left">{{ data[1] }}</td>
                                       <td>{{ data[2] }}</td>
                                       <td>{{ data[3] }}</td>
                                      <!-- <td>{{ data[4] }}</td>-->
                                       <!--td><input name="p_nIndice" value='{{ loop.counter|safe }}' type="radio" required autofocus></td>-->
                                       <!--<td><button type="button" value="{{ loop.index }}" onclick="f_EditarProyecto(self.value);" tabindex="-1"><img src="img/edit-blue.svg"></button></td>-->
                                       <td><!--button type="button" value="editar" name="editar"
                                             onclick="f_EditarProyecto(self.value);" tabindex="-1"><img
                                                src="img/edit-blue.svg"></button></td>-->
                                                <form action="/requisito" method="post">
                                                   <input name="key" type="hidden" value= "{{ data[0] }}">
                                                   <input name="descripcion" type="hidden" value= "{{ data[1] }}">
                                                   <input name="estado" type="hidden" value= "{{ data[3] }}">
                                                   <input name="dnii" type="hidden" value= "{{ data[4] }}">
                                                   <input  type="submit"  value="Editar"  name="button0" alt="submit" style="background: url(img/edit-blue.svg) no-repeat;border:none; color: transparent; padding: 6px 0px 0px 0px !important; "></td>   
                                                </form>        
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="card-footer text-muted">
                        <div class="row justify-content-center">
                          <!-- <div class="col-4 col-lg-4"><a class="alig-items-center h-100 w-100 btn btn-info" style="
                              padding-top: 10%" href="http://127.0.0.1:5000/crearrequisito">Nuevo Requisito</a></div>
                           <div class="col-4 col-lg-4"><a class="alig-items-center h-100 w-100 btn btn-primary" href=""
                                 style="line-height: 48px;">Seleccionar</a></div>
                           <div class="col-4 col-lg-4"><a class="alig-items-center h-100 w-100 btn btn-danger" href=""
                                 style="line-height: 48px;">Salir</a></div>-->
                                 <input value="Nuevo" name="button0" type="submit" class=" alig-items-center btn btn-info col-sm-2 col-md-3" style="margin-right: 40px;">
                                 <!--<div class="col-4 col-lg-2">-->
                                 <input value="Salir" name="button0" type="submit" class=" alig-items-center btn btn-danger col-sm-2 col-md-3">
                        </div>
                     </div>
                  </div>
                  {% if pcError %}
                  <div class="m-auto w-50 alert alert-danger" role="alert">{{ pcError }}</div>
                  {% endif %}<br>
                  {% if success %}
                  <!--div class="m-auto w-50 alert alert-success" role="alert">Se registro con éxito</div>-->
                  {% endif %}

                  {% if paDatos %}
                  <!--div class="m-auto w-50 alert alert-success" role="alert">{{ paDatos }}</div>-->
                  {% endif %}<br>
               </div>
            </form>
         </div>
      </div>
</body>
{% endblock %}

</html>