{% include "./partials/header.html" %} {% block body %}
<body>
   <div class="container-fluid text-center">
      <nav class=" custom-nav navbar navbar-expand-lg navbar-light bg-light bg-ucsm text-center">
         <h3 class="d-block d-md-none display-4 boldletter"> SGRSIA</h1>
            <h3 class="d-md-block d-none display-4 boldletter"> SISTEMA DE GESTIÓN DE REGISTRO DE SOFTWARE EN INDECOPI Y AUDITORÍA </h1>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;"><span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/home">Página Principal<span class="sr-only">(current)</span></a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/logout">Cerrar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/">Iniciar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/registro">Registrarse</a></li>
                  </ul>
               </div>
      </nav>
      <div class="container">
         <div class="container" style="height: 450px!important">
            <form action="/revisar" method="post" class="h-100 w-100">
               <div class="row h-100">
                  <div class="card" style="WIDTH: 100%;">
                     <h5 class="card-header bg-sc-ucsm text-center">Revision Auditor</h5>
                     <div class="alert alert-info mb-2 py-1" role="alert">
                           <b>PROYECTOS</b>
                           <div class="float-right" value="{{ nombre }}">{{ nombre }}</div>
                        </div>
                     <div class="card-body ">
                        <div class="row h-100 ">
                           <div class="table-responsive mh-60">
                              <table class="table table-sm table-hover table-bordered text-12 text-center">
                                 <thead class="bg-ucsm">
                                       <tr>
                                             <th scope="col">#</th>
                                             <th scope="col">Codigo</th>
                                             <th scope="col">Proyecto</th>
                                             <th scope="col">Requisito </th>
                                             <th scope="col">Responsable</th>
                                             <th scope="col">Estado</th>
                                             <th scope="col"><img src="img/edit-blue.svg"></th>
                                             <th scope="col"><img src="img/auditar.svg"></th>
                                          </tr>
                                 </thead>
                                 <tbody>
                                       {% set states = {'PENDIENTE': 'P', 'ENTREGADO': 'E', 'OBSERVADO': 'O', 'AUDITADO': 'A', 'ANULADO': 'X'} %}
                                       {% for data in paDatos %}
                                       <tr>
                                          <th scope="row">{{ loop.index }}</th>
                                          <td class="text-left">{{ data[0] }}</td>
                                          <td>{{ data[2] }}</td>
                                          <td>{{ data[4] }}</td>
                                          <td>{{ data[6] }}</td>
                                          <td>{{ data[7] }}</td>
                                          <form action="/revisar" method="post">
                                             <input name="paData[CIDPROY]" type="hidden" value="{{ data[1] }}">
                                             <input name="paData[CDESCRI]" type="hidden" value="{{ data[2] }}">
                                             <td><input  type="submit"  value="Abrir_detalle"  name="button0" alt="submit" style="background: url(img/edit-blue.svg) no-repeat;border:none; color: transparent; padding: 6px 0px 0px 0px !important; "></td>
                                          </form>
                                          <td>
                                             <form  action="/revisar" method="post">
                                                <input name="paData[CCODIGO]" type="hidden" value="{{ data[0] }}">
                                                <input name="paData[CIDPROY]" type="hidden" value="{{ data[1] }}">
                                                <input name="paData[CCODREQ]" type="hidden" value="{{ data[3] }}">
                                                <input name="paData[CNRODNI]" type="hidden" value="{{ data[5] }}">
                                                <input  type="submit"  value="Auditado"  name="button0" alt="submit" style="background: url(img/auditar.svg) no-repeat;border:none; color: transparent; padding: 8px 0px 0px 0px !important; "></td>  
                                             </form>   
                                       </tr>
                                       {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="card-footer text-muted text-center">
                           <input type="submit" name="button0" value="Cancelar"class="btn btn-danger col-sm-4 formnovaidate" style="color: #fff;">
                     </div>
                  </div>
               </div>
         </form>
      </div>
   </div>
</body>
{% endblock %}
</html>


