{% include "./partials/header.html" %} {% block body %}
<body>
   <div class="container-fluid ">
      <nav class=" custom-nav navbar navbar-expand-lg navbar-light bg-light bg-ucsm text-center">
         <h3 class="d-block d-md-none display-4 boldletter"> SGRSIA</h1>
            <h3 class="d-md-block d-none display-6 boldletter"> SISTEMA DE GESTIÓN DE AUDITORÍA </h1>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;"><span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="padding-left: 430px;">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/home">Página Principal<span class="sr-only">(current)</span></a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/logout">Cerrar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/">Iniciar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/registro">Registrarse</a></li>
                  </ul>
               </div>
      </nav>
      <div class="container-fluid">
         <div class="container" style="height: 450px!important">
            <form action="/requisito" method="POST" class="h-100 w-100">
               <div class="row h-100">
                  <div class="card" style="WIDTH: 100%;">
                     <h5 class="card-header bg-sc-ucsm text-center">Crear/Editar Requisitos</h5>
                     <div class="alert alert-info mb-2 py-1" role="alert">
                        <b>MANTENIMIENTO DE REQUISITOS</b>
                        <div class="float-right" value="{{ nombre }}">{{ nombre }}</div>
                     </div>
                     <div class="card-body ">
                        <div class="row h-100">
                           <div class="card-body card-body-custom ">
                              <label for="Inputcod">Codigo Requisito</label>
                              <input class=" form-control" readonly type="text"  value="{{ cCodReq }}"  placeholder="Codigo" name="paData[CCODREQ]">
                              <br>
                              <label for="Inputdesc">Descripcion</label>
                              <input class="form-control" type="text" placeholder="Descripcion" name="paData[CDESCRI]" value="{{ descri }}">
                              <br>
                              <label for="Inputest">Estado</label>
                              <!--input class="form-control"  type="text" placeholder="Estado" name="paData[CESTADO]">
                              <div class="input-group-prepend bg-ucsm col-2">Estado</div>-->
                              <br>

                              <select class="custom-select custom-select-sm col-4" name="paData[CESTADO]"
                                 id="paData[CESTADO]">
                                 {% set states = {'ACTIVO ': 'A', 'INACTIVO ': 'I'} %}
                                 {% for data in paDatos %}
                                 {{ estado }}
                                 {% if data[0] == estado %}
                                    <option selected="selected" value="{{ states[data[0]] }}">{{ data[0] }}</option>
                                 {% else %}
                                    <option value="{{ states[data[0]] }}">{{ data[0] }}</option>
                                 {% endif %}
                                 {% endfor %}
                              </select>
                              <!--<label for="Inputest">Usuario</label>-->
                              <input class="form-control" type="hidden" placeholder="DNI" name="paData[CDNINRO]" value="{{ cnrodni }}">
                              <!--<label for="Inputest">Tipo de Requisito</label>-->
                              <!--input class="form-control"  type="text" placeholder="Estado" name="paData[CESTADO]">
                              <div class="input-group-prepend bg-ucsm col-2">Estado</div>-->
                              <!--<select class="custom-select custom-select-sm col-4" name="paData[CTIPO]"
                                 id="paData[CTIPO]">
                                 {% set type = {'AUDITORIA': 'A', 'INDECOPI': 'I'} %}
                                 {% for data in paDatos %}
                                 <option value="{{ type[data[0]] }}">{{ data[0] }}</option>
                                 {% endfor %}
                              </select>-->
                           </div>
                        </div>
                     </div>
                     <div class="card-footer text-muted text-center">
                        <input type="submit" name="button1" value="Grabar" class="btn btn-info col-sm-4" style="color: #fff;">
                        <input type="submit" name="button1" value="Cancelar"class="btn btn-danger col-sm-4 formnovaidate" style="color: #fff;">
                     </div>
                  </div>
                  {% if pcError %}
                  <div class="m-auto w-50 alert alert-danger" role="alert">{{ pcError }}</div>
                  {% endif %}<br>
                  {% if success %}
                  <!--div class="m-auto w-50 alert alert-success" role="alert">Se registro con éxito</div>-->
                  <script language="JavaScript" type="text/javascript">
                     alert("EL REQUISITO FUE CREADO CORRECTAMENTE");
                  </script>
                  {% endif %}
               </div>
         </form>
      </div>
   </div>
</body>
{% endblock %}
</html>