{% include "./partials/header.html" %}
{% block body %}

<body>
   <div class="container-fluid ">
      <nav class=" custom-nav navbar navbar-expand-lg navbar-light bg-light bg-ucsm text-center">
         <h3 class="d-block d-md-none display-4 boldletter"> SGRSIA</h1>
            <h3 class="d-md-block d-none display-4 boldletter"> SISTEMA DE GESTIÓN DE REGISTRO DE SOFTWARE EN INDECOPI Y AUDITORÍA </h1>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;"><span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/home">Página Principal<span class="sr-only">(current)</span></a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/logout">Cerrar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/">Iniciar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/registro">Registrarse</a></li>
                  </ul>
               </div>
      </nav>
      <div class="container-fluid">
         <div class="container" style="height: 450px!important">
            <form action="/responsable" method="post" class="h-100 w-100">
               <div class="row h-100">
                  <div class="card" style="WIDTH: 100%;">
                     <h5 class="card-header bg-sc-ucsm text-center">Asignar Responsables</h5>
                     <div class="alert alert-info mb-2 py-1" role="alert">
                        <b>RESPONSABLES</b>
                        <div class="float-right" value="{{ nombre }}">{{ nombre }}</div>
                     </div>
                     <div class="card-body ">
                        <div class="row h-100">
                           <div class="card-body card-body-custom ">
                                 <label for="Inputdni">Codigo</label>
                                 <input class=" form-control"readonly type="text" placeholder="Codigo" name="paData[CCODIGO]" value="{{ cCodigo }}">
                                 <br>
                                 <label for="Inputnombres">Proyecto</label><br>
                                 <select class=" selectpicker form-control custom-select custom-select-sm col-4" name="paData[CIDPROY]" id="paData[CIDPROY]">
                                    {% for data in paProyecto %}
                                    {% if cIdProy == data[0] %}
                                       <option selected="selected" value="{{ data[0] }}">{{ data[0] + ' '+ '-' + data[1]}}</option>
                                    {% else %}
                                       <option value="{{ data[0]  }}">{{ data[0] +' '+data[1]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                 </select>
                                 <!--<input class="form-control" type="text" placeholder="codigo proyecto" name="paData[CIDPROY]" value="{{ cIdProy }}" >-->
                                 <br><br>
                                 <label for="Inputnombres">Requisito</label><br>
                                 <select class=" selectpicker form-control custom-select custom-select-sm col-4" name="paData[CCODREQ]"
                                 id="paData[CCODREQ]">
                                    {% for data in paRequisito %}
                                    {% if cCodReq == data[0] %}
                                       <option selected="selected" value="{{ data[0] }}">{{ data[0] + ' '+ '-' + data[1]}}</option>
                                    {% else %}
                                       <option value="{{ data[0]  }}">{{ data[0] +' '+data[1]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                 </select>
                                 <!--input class="form-control" type="text" placeholder="codigo requisito" name="paData[CCODREQ]" value="{{ cCodReq }}" >-->
                                 <br><br>
                                 <label for="Inputnombres">DNI</label><br>
                                 <select class=" selectpicker form-control custom-select custom-select-sm col-4" name="paData[CCODREQ]"
                                 id="paData[CCODREQ]">
                                    {% for data in paPersonas %}
                                    {% if data[0] == cnrodni %}
                                       <option selected="selected" value="{{ data[0] }}">{{ data[0] + ' '+ '-' + data[1]}}</option>
                                    {% else %}
                                       <option value="{{ data[0]  }}">{{ data[0] +' '+data[1]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                 </select>
                                 <br>
                                 <label for="Inputest">Estado</label><br>
                                   <!--input class="form-control"  type="text" placeholder="Estado" name="paData[CESTADO]">
                                   <div class="input-group-prepend bg-ucsm col-2">Estado</div>-->
                                 <br>
                                 <select class="custom-select custom-select-sm col-4" name="paData[CESTADO]"
                                       id="paData[CESTADO]">
                                       {% set states = {'PENDIENTE': 'P', 'ENTREGADO': 'E', 'OBSERVADO': 'O', 'APROBADO': 'A', 'ANULADO': 'X'} %}
                                       {% for data in paEstadoPuenteProyectos %}
                                       {{ estado }}
                                       {% if data[0] == estado %}
                                          <option selected="selected" value="{{ states[data[0]] }}">{{ data[0] }}</option>
                                       {% else %}
                                          <option value="{{ states[data[0]] }}">{{ data[0] }}</option>
                                       {% endif %}
                                       {% endfor %}
                                 </select>
                              <br>
                           </div>
                        </div>
                     </div>
                     <div class="card-footer text-muted text-center">
                        <input type="submit" name="button1" value="Grabar" class="btn btn-info col-sm-4" style="color: #fff;" onclick="return confirm('¿Desea grabar?\nEste registro puede ser modificado posteriormente.');">
                        <input type="submit" name="button1" value="Cancelar" class="btn btn-danger col-sm-4 formnovaidate" style="color: #fff;">
                     </div>
                  </div>
               </div>
         </form>
      </div>
   </div>
</body>
{% endblock %}
</html>