{% include "./partials/header.html" %} {% block body %}
<body>
   <div class="container-fluid ">
      <nav class=" custom-nav navbar navbar-expand-lg navbar-light bg-light bg-ucsm text-center">
         <h3 class="d-block d-md-none display-4 boldletter"> SGRSIA</h1>
            <h3 class="d-md-block d-none display-4 boldletter"> SISTEMA DE GESTIÓN DE REGISTRO DE SOFTWARE EN INDECOPI Y AUDITORÍA </h1>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item active"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/home">Página Principal<span class="sr-only">(current)</span></a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/logout">Cerrar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/">Iniciar Sesión</a></li>
                     <li class="nav-item"><a class="nav-link" style="color: #fff;" href="http://127.0.0.1:5000/registro">Registrarse</a></li>
                  </ul>
               </div>
      </nav>
      <div class="container-fluid">
         <div class="container" style="height: 450px!important">
            <form action="/crearproyecto" method="post" class="h-100 w-100">
               <div class="row h-100">
                  <div class="card" style="WIDTH: 100%;">
                     <h5 class="card-header bg-sc-ucsm text-center">Crear/Editar Proyecto</h5>
                     <div class="card-body ">
                        <div class="row h-100">
                           <div class="card-body card-body-custom ">
                              <label for="Inputcod">Codigo Proyecto</label>
                              <input class=" form-control" readonly value="*" type="text" placeholder="Codigo" name="paData[CIDPROY]">
                              <br>
                              <label for="Inputdesc">Descripcion</label>
                              <input class="form-control" type="text" placeholder="Descripcion" name="paData[CDESCRI]">
                              <br>
                              <label for="Inputres">Responsable</label>
                              <input class="form-control" value="{{ dni }}" type="text" placeholder="Responsable" name="paData[CDNIRES]">
                              <br>
                              <label for="Inputest">Estado</label>
                              <!--input class="form-control"  type="text" placeholder="Estado" name="paData[CESTADO]">
                              <div class="input-group-prepend bg-ucsm col-2">Estado</div>-->
                              <br>
                                 <select class="custom-select custom-select-sm col-4" name="paData[CESTADO]">
                                       <option value="5">5</option>
                                       <option value="4">4</option>
                                    {% for est in paDatos %}
                                       <option value="{{ est[6] }}" 
                                       {if {{ est[6] }} eq paData[CESTADO]} selected {/if}>{{ est[7] }}</option>
                                    {% endfor %}
                                    
                                   
                                 </select> 
                                 <select>
                                       {% for est in paDatos %}
                                       <option {% if est.Selected %}selected="selected"{% endif %}>{{ est.Label }}</option>
                                       {% endfor %}
                                 </select>
                                 <select name="estado" size=1>
                                       {% for item in paDatos %}
                                       <option value="{{ item }}">{{ item }}</option>
                                       {% endfor %}
                                   </select>
                              </div>
                              <br>
                           </div>
                        </div>
                     </div>
                     <div class="card-footer text-muted text-center" style="margin-left: 30%;">
                        <input type="submit" name="Grabar" value="Grabar" class="btn btn-info btn-pp col-sm-14" style="color: #fff;">
                        <input type="submit" name="Cancelar" value="Cancelar" class="btn btn-danger btn-pp col-sm-14 formnovaidate" style="color: #fff;" onclick="window.location = 'http://127.0.0.1:5000/proyecto';">
                     </div>
                  </div>
                  {% if pcError %}
                  <div class="m-auto w-50 alert alert-danger" role="alert">{{ pcError }}</div>
                  {% endif %}<br>


                  {% if paDatos %}
                  <div class="m-auto w-50 alert alert-success" role="alert">{{ paDatos }}</div>
                  {% endif %}<br>

               </div>
         </form>
      </div>
   </div>
</body>
{% endblock %}
</html>